
.DS_Store
TodayILearned.xcodeproj/project.xcworkspace/xcuserdata/hong.xcuserdatad/UserInterfaceState.xcuserstate
TodayILearned.xcodeproj/project.xcworkspace/xcuserdata/hong.xcuserdatad/UserInterfaceState.xcuserstate
